
CREATE TABLE categorymap(
	categorymapid int NOT NULL,
	maincategoryid int NULL,
	subcategoryid int NULL,
 CONSTRAINT CategoryMap_pkey PRIMARY KEY  
(
	categorymapid 
)
);


CREATE TABLE categoryprice(
	id int  NOT NULL,
	categorymapid int NULL,
	countrycode varchar(50) NULL,
	minprice decimal(18, 2) NULL,
	maxprice decimal(18, 2) NULL,
	currencyid varchar(50) NULL,
 CONSTRAINT PK_categoryprice PRIMARY KEY  
(
	id 
)
);


CREATE TABLE currencylist(
	currencycode varchar(50) NOT NULL,
	currencyname varchar(250) NULL,
 CONSTRAINT PK_currencylist PRIMARY KEY  
(
	currencycode 
)
);

CREATE TABLE customer(
	customerid int NOT NULL,
	name varchar(100) NULL,
	dob date NULL,
	street varchar(250) NULL,
	postcode varchar(10) NULL,
	city varchar(100) NULL,
	createddate timestamp NULL,
	updateddate timestamp NULL,
	countrycode varchar(100) NULL,
	sourceid int NULL,
 CONSTRAINT Customer_pkey PRIMARY KEY  
(
	customerid 
)
);

CREATE TABLE maincategory(
	categoryid int NOT NULL,
	categoryname varchar(100) NULL,
 CONSTRAINT MainCategory_pkey PRIMARY KEY  
(
	categoryid 
)
); 

CREATE TABLE paymentmethod(
	paymentmethodid int NOT NULL,
	paymentmethodname varchar(250) NULL,
 CONSTRAINT PK_paymentmethod PRIMARY KEY  
(
	paymentmethodid 
)
);

CREATE TABLE saledata(
	id int  NOT NULL,
	customerid int NULL,
	publicid varchar(250) NULL,
	saleschannelid int NULL,
	storeid int NULL,
	paymentmethodid int NULL,
	discountpct decimal(5, 0) NULL,
	currencycode varchar(50) NULL,
	purchasedate timestamp NULL,
	bankcardtype varchar(50) NULL,
	bankcardissuer varchar(100) NULL,
	cardnumber varchar(100) NULL,
	categoryid int NULL,
	itemprice decimal(18, 2) NULL,
	quantity int NULL,
	sizeOfShoe int NULL,
 CONSTRAINT PK_saledata PRIMARY KEY  
(
	id 
	
)
); 

CREATE TABLE saleitem(
	saleitemid int  NOT NULL,
	transactionid int NULL,
	categoryid int NULL,
	itemprice decimal(18, 2) NULL,
	quantity int NULL,
	discountPct decimal(10, 2) NULL,
	campaignprice int NULL,
	sizeOfShoe int NULL,
	totalprice decimal(18, 2) NULL,
	finalprice decimal(18, 2) NULL,
 CONSTRAINT PK_saleitem PRIMARY KEY  
(
	saleitemid 
)
); 

CREATE TABLE saleschannel(
	saleschannelid int NOT NULL,
	saleschannelname varchar(250) NULL,
 CONSTRAINT PK_saleschannel PRIMARY KEY  
(
	saleschannelid 
)
); 

CREATE TABLE saletransaction(
	transactionid int  NOT NULL,
	customerid int NULL,
	publicid varchar(250) NULL,
	saleschannelid int NULL,
	storeid int NULL,
	paymentmethodid int NULL,
	discountpct decimal(5, 0) NULL,
	currencycode varchar(50) NULL,
	purchasedate timestamp NULL,
	bankcardtype varchar(50) NULL,
	bankcardissuer varchar(100) NULL,
	cardnumber varchar(100) NULL,
 CONSTRAINT PK_saletransaction PRIMARY KEY  
(
	transactionid 
)
); 

CREATE TABLE sourcetype(
	sourceid int NOT NULL,
	sourcename varchar(250) NULL,
 CONSTRAINT PK_sourcetype PRIMARY KEY  
(
	sourceid 
)
); 

CREATE TABLE storeinfo(
	storeid int NOT NULL,
	storename varchar(250) NULL,
	postcode varchar(10) NULL,
	street varchar(250) NULL,
	city varchar(250) NULL,
	country varchar(50) NULL,
	tlf varchar(50) NULL,
	email varchar(50) NULL,
	PartnerStore int NULL,
 CONSTRAINT PK_storeinfo PRIMARY KEY  
(
	storeid 
)
);

CREATE TABLE subcategory(
	subcategoryid int NOT NULL,
	subcategoryname varchar(250) NULL,
 CONSTRAINT SubCategory_pkey PRIMARY KEY  
(
	subcategoryid 
)
);


ALTER TABLE categorymap  ADD  CONSTRAINT CategoryMap_SubCategoryId_fkey FOREIGN KEY(subcategoryid)
REFERENCES subcategory (subcategoryid);

ALTER TABLE categorymap  ADD  CONSTRAINT MainCategoryMap FOREIGN KEY(maincategoryid)
REFERENCES maincategory (categoryid);

ALTER TABLE customer  ADD  CONSTRAINT FK_customer_sourcetype FOREIGN KEY(sourceid)
REFERENCES sourcetype (sourceid);

ALTER TABLE saleitem  ADD  CONSTRAINT FK_saleitem_saletransaction FOREIGN KEY(transactionid)
REFERENCES saletransaction (transactionid);

ALTER TABLE saleitem  ADD  CONSTRAINT FK_sales_categorymap FOREIGN KEY(categoryid)
REFERENCES categorymap (categorymapid);

ALTER TABLE saletransaction  ADD  CONSTRAINT FK_saletransaction_currencylist FOREIGN KEY(currencycode)
REFERENCES currencylist (currencycode);

ALTER TABLE saletransaction  ADD  CONSTRAINT FK_saletransaction_customer FOREIGN KEY(customerid)
REFERENCES customer (customerid);

ALTER TABLE saletransaction  ADD  CONSTRAINT FK_saletransaction_paymentmethod FOREIGN KEY(paymentmethodid)
REFERENCES paymentmethod (paymentmethodid);

ALTER TABLE saletransaction  ADD  CONSTRAINT FK_saletransaction_saleschannel FOREIGN KEY(saleschannelid)
REFERENCES saleschannel (saleschannelid);

ALTER TABLE saletransaction  ADD  CONSTRAINT FK_saletransaction_storeinfo FOREIGN KEY(storeid)
REFERENCES storeinfo (storeid);
